#HomeMainContainer {
    margin: 0;
    padding: 0;
}

#HomeMainTitleContainer {
    margin: 0;
    padding: 0;
    display: flex;
}

.HomeMainImageContainer {
    margin: 0;
    padding: 0;
    flex: left;
}

.HomeMainImage {
    margin: 0;
    padding: 0;
}

#HomeButton {
    position: absolute;
    display: inline;
    width: auto;
}

.HomeHeadline {
    margin-top: 2vw;
}

@media only screen and (max-width: 992px) {
    .RepresentImage {
        flex: 50%;
    }
}

.HomeBanner {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
}

.HomeBannerContainer {
    margin: 0;
    padding: 0;
    flex: left;
}

.HomeColBanner {
    padding: 0;
    margin: 0;
    width: 100%;
}

.HomeTextOnBanner {
    position: absolute;
    display: inline;
    width: auto;
    background: orange;
    color: white;
    text-decoration: none;
    margin-left: 20px;
}

@media only screen and (max-width: 992px) {
    .HomeTextOnBanner {
        flex: 100%;
    }
    .HomeColBanner {
        flex: 100%;
    }
}

.LinkBanner {
    flex: 50%;
}

.HomeHeadliner {
    text-align: justify;
    margin: 20px;
}

.strongText {
    font-weight: bold;
}